.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #a0b68b;
}

.login-box {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
