.c-bg {
    background-color: rgba(222, 222, 222, 0.974);
    cursor: pointer;
}

.text-color{
    color: rgb(21, 54, 21);
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.img-container {
    position: relative;
    margin: 0 auto;
}

.img-container img {
    vertical-align: middle;
}

.img-container .content {
    position: absolute;
    bottom: 0;
    background: rgba(91, 91, 92, 0.05);
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
    color: #f1f1f1;
    width: 100%;
    padding: 50px 0px;
}

