.icons i{
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
    font-size: 20px;
}
.icons i:hover{
    background-color: lightblue;
    color: rgb(10, 10, 10);
    border-radius: 36px;
}

.anchor-s a{
    color: whitesmoke;
    text-decoration: none;
}